.box {
    padding-block: 0.5rem;
    padding-inline: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow: auto;
    color: #4949c8;
}
