.logoutBtn {
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;

    div {
        font-size: inherit;
    }
}

.logoutIcon {
    fill: #21d468;
}
