.item {
    flex: 1 0 100%;
    text-align: center;
    border-left: 0.0625rem solid var(--Border-Secondary);
    border-right: 0.0625rem solid var(--Border-Secondary);
    min-height: 1.5625rem;

    &.header {
        border-top: 0.0625rem solid var(--Border-Secondary);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        background-color: var(--Content-Tertiary);
        color: var(--Content-Primary-Inverse);
        font-weight: bold;
    }
    &:not(.header) {
        border-bottom: 0.0625rem solid var(--Border-Secondary);
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        &:not(:last-child) {
            margin-bottom: 0.25rem;
        }
    }
}
