.anchorRow {
    padding: 2rem 1rem;
    display: flex;
    gap: 1rem;
    border-radius: 0.5rem;

    &:active,
    &:link,
    &:visited {
        text-decoration: none;
        color: inherit;
        outline: 0;
    }
    &:hover {
        background-color: var(--Background-Hover);

        & .arrow {
            transform: translateX(0.5rem);
        }
    }
}

.userIcon {
    fill: inherit;
}

.arrow {
    fill: inherit;
    position: absolute;
    right: 1rem;
    left: auto;
    transition-property: transform;
    transition-duration: 0.25s;
}
