.heading {
    display: flex;
    color: var(--Content-Primary);
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
    margin-block: 0;
}
