.logoutBtn {
    background-color: black;
}

.paragraph {
    margin-block: 0.25rem;
}

.submitForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formContextBox {
    padding-bottom: 0.5rem;
}
